.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5%;
  padding: 1rem;
}

form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
}

label input {
  display: inline;
  right: 10px;
}
button {
  cursor: pointer;
}
